body {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
}

#add-button {
  box-shadow: 0px 0px 10px black;
  border-radius: 20px 20px;
  margin: 15px;
  cursor: pointer;
}

#add-button:hover {
  background-color: rgb(241, 238, 238);
}

#add-button:active {
  background-color: rgb(241, 238, 238);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#containerText {
  display: flex;
}

.columnsText {
  width: 400px;
  flex: 0 1 auto;
  border-radius: 20px 20px;
  box-shadow: 0px 0px 10px black;
  padding: 6px;
  margin: 9px;
}

#container {
  display: flex;
  height: 50vh;
}

.columns {
  width: 400px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border-radius: 20px 20px;
  box-shadow: 0px 0px 10px black;
}

.items {
  border-radius: 20px 20px;
  height: 30px;
  width: 300px;
  margin: 10px;
  box-shadow: 0px 0px 10px black;
  border: 1px solid;
	color: black;

}

.form-popup {
  display: none;
  right: 33vw;
  top: 15vh;
  z-index: 9;
  position: absolute;

}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px black;
  border-radius: 20px 20px;
}

.form-container input[type=text] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover {
  opacity: 1;
}
